<div class="gp-task clearfix">
  <div class="gp-task-name" data-dojo-attach-point="displayNameNode"></div>
  <div class="gp-task-input-pane" data-dojo-attach-point="containerNode"></div>
  <div class="gp-task-action-pane form-group text-right clearfix col-sm-12">
    <button class="btn btn-link gp-task-help-button" data-dojo-attach-event="click: _doHelp"><i class="fa fa-question-circle fa-lg"></i></button>
    <button class="btn btn-primary gp-task-execute-button" data-dojo-attach-event="click: _doExecute">Execute</button>
    <button class="btn btn-link gp-task-cancel-button" data-dojo-attach-event="click: _doCancel">Cancel</button>
  </div>
</div>